a{

    text-decoration: none;

    color: white;


}
body{
    background-color:  	#f0eded;
    font-family: 'Courier New', Courier, monospace;
    
        
}

header{
    
    
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

header:hover{
    background: var(--neon-blue);
    color: #071101; 
    box-shadow: 0 10px 25px rgba(76, 4, 245, 0.2);
    border-color: var(--neon-blue);
}

header h1{
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    
    
}
nav{
    background-color: #08acc9;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav a{
    margin: 0 15px;
    color: white;
    font-weight: bold;
}
nav a:hover{
    color: #000000;
    text-decoration: underline;
}

section{
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


section img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(252, 235, 0, 0.918);            
    margin-top: 10px;
}

section img:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 235, 252, 0.918);
    transition: transform 0.3s, box-shadow 0.3s;
}

form{
    background-color: #08acc9;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button{
    background-color: rgb(15, 236, 206);
    border-radius: 20px;

}


.boton{ 
    background-color: #eedd94;
    border-radius: 20px;
    color: #000000;


}
.boton:hover{
    background-color: rgb(0, 255, 157);
    color: #000000;
}

footer{
    background-color: #08acc9;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}
footer a{
    color: white;
    margin: 0 10px;
    font-weight: bold;
}
footer a:hover{
    color: #db2a2a;
    text-decoration: blink; ;
}       
footer p{
    margin: 5px 0;  
    font-size: 14px;
}   
footer h6{
    font-size: 16px;
    margin-bottom: 10px;
}
footer i{
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.3s;
    
}

footer i.bi-facebook{
    color: #3b5998;
}
footer i.bi-whatsapp{
    color: #1df239;
}
footer i.bi-instagram{  
    color: #e12a9c;
}


footer i:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

footer i.bi-facebook:hover{
    color: #2d4373;
}
footer i.bi-whatsapp:hover{
    color: #0e7c0e;
}
footer i.bi-instagram:hover{
    color: #a61d73;
}


