a{
    text-decoration: none;
    color: white;

}
body{
    background-color: #f0eded;
    font-family: 'Courier New', Courier, monospace;
}

button{
    background-color: rgb(112, 68, 168);
    border-radius: 20px;
}